<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SweetCart Suite">
<!-- Add inside testng.xml suite tag -->

<listeners>
    <listener class-name="com.sweetcart.utils.TestListener"/>
</listeners>
<test name="Regression">

<classes>
<class name="com.sweetcart.tests.LoginTest"/>
<class name="com.sweetcart.tests.NavigationTest"/>
<class name="com.sweetcart.tests.ProductTest"/>
<class name="com.sweetcart.tests.BasketTest"/>
<class name="com.sweetcart.tests.AccountTest"/>
</classes>

</test>
</suite>